:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--stone-600);
  background-color: var(--stone-100);
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

header {
  position: relative;
}

.header-image {
  width: 92%;
  height: auto;
  display: block;
  margin: 1.5rem auto 0;
  border-radius: 10px;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: var(--stone-900);
}

h1 {
  font-size: 1.5rem;
  margin-left: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

main {
  padding: 0 40px 40px;
}

section {
  margin-bottom: 32px;
}

.intro {
  font-size: 14px;
  margin-bottom: 32px;
}

.preparation {
  background-color: var(--rose-50);
  padding-bottom: 0.1rem;
  border-radius: 10px;
}

.preparation h2 {
  font-weight: 700;
  margin: 0.5rem;
  color: var(--rose-800);
}

.preparation ul {
  margin-top: 0;
  margin-left: 3.5rem;
  padding: 0;
}

.preparation li {
  margin-bottom: 8px;
  padding-left: 0.8rem;
}

.ingredients h2 {
  font-size: 1.5rem;
  color: var(--brown-800);
  font-weight: 500;
}

.ingredients ul {
  padding-left: 0;
  margin-left: 1.4rem;
}

.ingredients li {
  margin-bottom: 8px;
  padding-left: 0.8rem;
}

.ingredients ::marker {
  color: var(--brown-800);
}

.instructions h2 {
  font-size: 1.5rem;
  color: var(--brown-800);
  font-weight: 500;
}

.instructions ol {
    padding-left: 0;
    margin-left: 1.5rem;
}

.instructions li {
  margin-bottom: 8px;
  padding-left: 1rem;
}

.nutrition {
  background-color: var(--rose-50);
  padding: 32px;
  border-radius: 12px;
}

.nutrition h2 {
  color: var(--brown-800);
  font-size: 1.5rem;
}

.nutrition table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 24px;
}

.nutrition th,
.nutrition td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid var(--stone-150);
}

.nutrition th {
  font-weight: 600;
  color: var(--rose-800);
}

footer {
  background-color: var(--stone-150);
  padding: 24px 40px;
  text-align: center;
  font-size: 14px;
}

footer a {
  color: var(--brown-800);
  text-decoration: none;
  font-weight: 700;
}

footer a:hover {
  text-decoration: underline;
}
